<div class="container mt-5">
  <h1 class="text-center">Food List</h1>
  <div class="my-3 text-end">
    <%= link_to "Add New Food", new_food_path, class: "btn btn-primary mt-3" %>
  </div>
  <table class="border table table-striped table-bordered">
    <thead>
    <tr>
      <th>
          Name
          <%= link_to '', foods_path(sort: 'name'), class: 'triangle-up' %>
        </th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @foods.each_with_index do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td>$ <%= food.price %></td>
        <td><%= food.quantity %></td>
        <td>
          <%= button_to "Delete", food, method: :delete, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
